<h4>Elective Courses</h4>

<p *ngIf="isEnrollmentPeriodActive(); else closedMessage">
  Applications are open!
</p>
<ng-template #closedMessage>
  <p>Applications are closed!</p>
</ng-template>

<ul cdkDropList (cdkDropListDropped)="drop($event)" [ngClass]="{'disabled-list': !isEnrollmentPeriodActive()}" [attr.disabled]="!isEnrollmentPeriodActive() ? true : null">
  <li *ngFor="let course of electiveCourses" cdkDrag>
    <div class="course-container">
      <div class="course-name">{{ course.courseName }}</div>
      <div class="course-details">
        {{ course.dayOfWeek }} at {{ course.time }} - Applications: {{ courseApplicationCounts[course.id] || 0 }} - Number of places left: {{course.maxStudents || 0}}
      </div>
    </div>
  </li>
</ul>


<button (click)="createEnrollmentForSelectedCourses()"
        [attr.disabled]="!isEnrollmentPeriodActive() ? true : null">
  Enroll in The Courses
</button>
