<h4>Elective Courses</h4>

<ul cdkDropList (cdkDropListDropped)="drop($event)" >
  <li *ngFor="let course of electiveCourses" cdkDrag>
    <div class="course-container">
      <div class="course-name">{{ course.courseName }}</div>
      <div class="course-details">
        {{ course.dayOfWeek }} at {{ course.time }} - Applications: {{ courseApplicationCounts[course.id] || 0 }} - Number of places left: {{course.maxStudents || 0}} - Teacher {{ course.teacherDTO.name }}
      </div>
      <div class="students-enrolled">
        <strong>Enrolled Students:</strong>
        <ul>
          <li *ngFor="let student of studentsEnrolled[course.id]">{{ student.name }}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>


<button (click)="createEnrollmentForSelectedCourses()">
  Enroll in The Courses
</button>
