

<div>
  <h2>Students</h2>
  <ul>
    <li *ngFor="let student of students" (click)="selectUser(student)">
      {{ student.name }} - Year of study: {{student.studyYear}}
    </li>
  </ul>
  <h2>Teachers</h2>
  <ul>
    <li *ngFor="let teacher of teachers" (click)="selectUser(teacher)">
      {{ teacher.name }}
    </li>
  </ul>
  <h2>Administrators</h2>
  <ul>
    <li *ngFor="let admin of admins" (click)="selectUser(admin)">
      {{ admin.name }}
    </li>
  </ul>

  <div *ngIf="getSelectedUser() as selectedUser">
    <h3>Selected User: {{ selectedUser.name }}</h3>
    <h4>User Role: {{ selectedUser.role }}</h4>
    <div *ngIf="selectedUser.role === 'student'">
      <h4>Enrollments</h4>
      <ul>
        <li *ngFor="let course of userCourses">
          {{ course.courseName }} - {{ course.dayOfWeek }} at {{ course.time }} ( {{course.category}} )
          <span *ngIf="enrollments[course.id] as enrollment">
            (Enrollment Status: {{ enrollment.status }})
          </span>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedUser.role === 'teacher'">
      <h4>Teaching Courses:</h4>
      <ul>
        <li *ngFor="let course of userCourses">
          {{ course.courseName }} - {{ course.dayOfWeek }} at {{ course.time }}

        </li>
      </ul>
    </div>
  </div>

</div>
